.checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.checkbox__input {
    position: absolute;
    opacity: 0;
}

.checkbox__custom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    background-image: url('../../img/checkmark.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 0.3s, border-color 0.3s;
}

.checkbox__input:focus + .checkbox__custom {
    outline: 2px dashed currentColor;
    outline-offset: 2px;
}

.checkbox__input:checked + .checkbox__custom {
    background-color: var(--primary);
    border-color: var(--primary);
}

.checkbox__label {
    font-size: 16px;
    line-height: 150%;
    color: var(--dark-primary);
}