.features {
    padding: 60px 0;
}

.features__title {
    margin-bottom: 50px;
}

.features__item {
    grid-column: 3 span;
}

.features__item--grey {
    padding: 45px;
    background-color: var(--light-grey);
}


.features__icon {
    display: block;
    width: 24px;
    height: 24px;
    margin-bottom: 16px;
}

.features__subtitle {
    margin: 0;
    margin-bottom: 8px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: var(--dark-primary);
}

.features__text {
    margin: 0;
    font-size: 16px;
    line-height: 150%;
    color: var(--dark-primary);
}

@media (max-width: 1024px) {
    .features__item {
        grid-column: 6 span;
    }
}

@media (max-width: 768px) {
    .features__title {
        text-align: left;
    }
    
    .features__item {
        align-items: center;
        grid-column: 12 span;
    }

    .features__subtitle {
        font-size: 16px;
    }

    .features__text {
        font-size: 14px;
    }
}