.filters {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.filters__item:not(:last-child) {
    margin-bottom: 12px;
}

.filters__label {
    display: flex;
    align-items: center;
}

.filters__subtitle {
    margin: 0;
    margin-bottom: 20px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--dark-primary);
}

.filters__input {
    margin-right: 12px;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    width: 16px;
    height: 16px;
}

.filters__value {
    font-size: 16px;
    line-height: 150%;
    color: var(--dark-primary);
}