.footer {
    background-color: var(--dark-primary);
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    gap: 30px;
}

.footer__top {
    border-bottom: 1px solid var(--primary);
    padding: 50px 0;
}

.footer__nav {
    grid-column: 2 span;
}

.footer__form {
    grid-column: 6 span;
}

.footer__subtitle {
    margin: 0;
    margin-bottom: 12px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--white);
}

.footer__list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
}

.footer__link {
    font-size: 14px;
    color: var(--white);
}

.footer__copyright {
    font-size: 14px;
    color: var(--white);
}

@media (max-width: 768px) {
    .footer__nav {
        grid-column: 4 span;
    }

    .footer__form {
        grid-column: 12 span;
    }
}

@media (max-width: 480px) {
    .footer__nav {
        grid-column: 6 span;
    }

    .footer__bottom {
        flex-direction: column;
    }
}