.header__container {
    display: flex;
}

.header__top {
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header__list {
    display: flex;
    gap: 30px;
}

.header__link {
    font-size: 16px;
    color: #726e8d;
}

@media (any-hover: hover) {
    .header__link:hover {
        color: var(--primary);
    }
}

.header__link:active {
    color: var(--dark-primary);
}

.header__buttons {
    display: flex;
    gap: 16px;
}

.header__button {
    width: 16px;
    height: 16px;
}

.header__button-icon {
    display: block;
    width: 100%;
    height: 100%;
}

.header__bottom {
    justify-content: center;
    padding: 20px;
    background-color: var(--light-grey);
}