.newsletter {
    padding: 60px 0;
    background-color: var(--light-grey);
}

.newsletter__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    background-color: var(--white);
}

.newsletter__title {
    margin-bottom: 16px;
}

.newsletter__description {
    margin: 0;
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--dark-primary);
}

.newsletter__form {
    max-width: 480px;
    width: 100%;
}