.product-hero {
    padding: 50px 0;
    background-color: var(--light-grey);
}

.product-hero__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
}

.product-hero__image-wrapper {
    width: 50%;
}

.product-hero__image {
    width: 100%;
    object-fit: cover;
}

.product-hero__info {
    width: 50%;
}

.product-hero__header {
    border-bottom: 1px solid var(--border-grey);
    margin-bottom: 24px;
    padding-bottom: 30px;
}

.product-hero__title {
    margin: 0;
    margin-bottom: 16px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    color: var(--dark-primary);
}

.product-hero__price {
    font-size: 24px;
    color: var(--dark-primary);
}

.product-hero__section {
    margin-bottom: 40px;
}

.product-hero__subtitle {
    margin: 0;
    margin-bottom: 14px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--dark-primary);
}

.product-hero__descr {
    margin: 0;
    font-size: 16px;
    color: var(--dark-primary);
}

.product-hero__specs {
    display: flex;
    align-items: center;
}

.product-hero__spec-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.product-hero__spec-item:not(:last-child) {
    border-right: 1px solid var(--border-grey);
    margin-right: 50px;
    padding-right: 50px;
}

.product-hero__spec-label {
    font-family: var(--second-family);
    font-size: 14px;
    color: var(--dark-primary);
}

.product-hero__input {
    width: 122px;
    height: 46px;
    font-size: 16px;
    color: var(--dark-primary);
    text-align: center;
    background-color: var(--white);
}

.product-hero__actions {
    display: flex;
    gap: 16px;
}

@media (max-width: 768px) {
    .product-hero__container {
        flex-direction: column;
    }

    .product-hero__image-wrapper,
    .product-hero__info {
        width: 100%;
    }
}