.stepper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 122px;
    height: 46px;
    font-size: 16px;
    color: var(--dark-primary);
    background-color: var(--white);
}

.stepper--grey {
    background-color: var(--light-grey);
}

.stepper__button {
    width: 35%;
    height: 100%;
}

.stepper__button:focus {
    outline: none;
}

.stepper__button:focus-visible {
    outline: 2px dashed currentColor;
    outline-offset: 2px;
}

.stepper__input {
    width: 30%;
    height: 100%;
    text-align: center;
}

.stepper__input:focus {
    outline: none;
}

.stepper__input::-webkit-outer-spin-button,
.stepper__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
